.hero {
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 7rem;
    background-color: #FFFAF4;
  
}
.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 120%;
}
.hero h1 {
    font-size: 6rem;
    font-family: 'Anybody', cursive;
    color: #2e2d2d;
    line-height: 1;
    z-index: 1;
    text-align: center;
}

h1 span {
    font-size: 1.5rem;
    font-weight: 100;
    opacity: 0.2;
    z-index: 1;  
}

.hero p {
    font-size: 1.5rem;
    z-index: 1;
    margin-top: 5rem;
    font-family: 'Mako', sans-serif;
}

p span {
    background-color: #2d2d2d;
    padding: 0.2rem 0.5rem;
    color: white;
}
.hero img {
    width: 30%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    z-index: 2;
    visibility: hidden;
    width: 0;
}

.radialBlur {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    top: 0;
}

.tealBlur {
    background-color: #F7D060;
    opacity: 0.5;
    width: 700px;
    height: 520px;
    border-radius: 100%;
    filter: blur(90px);
    margin-left: 10rem;
}

.primaryBlur {
    background-color: #468B97;
    opacity: 0.5;
    width: 700px;
    height: 520px;
    border-radius: 100%;
    filter: blur(90px);
    margin-right: 10rem;
}

@media only screen and (max-width: 600px) {
    .hero {
        flex-direction: column;
        padding-top: 5rem;
        position: relative;
        
    }
    .hero img {
        width: 140%;
        visibility: visible;
        margin-top: -2rem;
    }

    .hero h1 {
        font-size: 2rem;
        z-index: 1;
        text-align: center;
        width: 200%;
    }
    .hero p {
        font-size: 1.15rem;
        line-height: 2rem;
        text-align: center;
        z-index: 1;
        margin-top: 2rem;
        width: 120%;
    }
    .tealBlur {
        opacity: 0.5;
        width: 700px;
        margin-left: 0;
    }
    .primaryBlur {
        opacity: 0.5;
        width: 700px;
        margin-right: 0;
    }
}